<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h>
            PLEASE VOTE HERE
        </h>
        <br>
        <br>
        <input type="text" name="option" placeholder="Option">
        <input type="text" name="voter" placeholder="Voter">
        <br>
        <br>
        <input type="submit" value="Vote">
    </form>
</body>